@import "reset.css";
@import "variables.css";

body {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  font-family: "Nunito", sans-serif;
}

#alert-window {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex-direction: column;

  > button {
  }
}

.header {
  margin-bottom: 25vh;
  display: block;
  height: 20px;
  width: 100vw;
}

.main__inner {
  display: block;
  justify-items: center;
}

.input {
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 3px solid;
  transition: var(--transition-settings);
  &:focus {
    border: 5px solid;
    border-radius: 1rem;
  }
}

.search {
  width: 70vw;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(3, auto);
  column-gap: 6px;
  margin-bottom: 1rem;

  #search__input {
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.2rem;
  }

  #testButton {
    grid-row: 1 / 4;
    border: 3px solid black;
    border-radius: 0.5rem 0 1rem 0;
    transition-property: all;
    transition: var(--transition-settings);
    cursor: pointer;
    background-color: rgba(127, 255, 0, 0.6);
    &:hover {
      border-radius: 1rem;
      background-color: rgba(127, 255, 0, 0.8);
    }
  }

  .input-buttons {
    display: flex;
    gap: 2px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    > button {
      width: 50%;
      height: 2.5rem;
      /*border-radius: 0.5rem 0.5rem 0 0;*/
      transition: var(--transition-settings);
      border: 3px solid;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        border-radius: 1rem 1rem 0 0 !important;
      }
    }

    #add-word-button {
      background-color: rgba(127, 255, 0, 0.7);
      border-radius: 0 0.5rem 0 0;
      &:hover {
        background-color: rgba(127, 255, 0, 1);
      }
    }

    #avoid-word-button {
      background-color: rgba(255, 99, 71, 0.7);
      border-radius: 0.5rem 0.5rem 0 0;
      &:hover {
        background-color: rgb(255, 99, 71, 1);
      }
    }
  }

  .search__words {
    display: flex;
    gap: 2px;
    max-width: 100%;
    grid-row: 3 / 4;

    > div {
      width: 50%;
      border: 3px black solid;
      border-radius: 0 0 0.5rem 0.5rem;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      > div {
        > span {
          word-break: break-all;
          font-size: 1.1rem;
        }
        > button {
          position: relative;
          height: 1.2rem;
          aspect-ratio: 1;
          cursor: pointer;
          border-radius: 0.3rem;
          transition: var(--transition-settings);
          &:hover {
            border-radius: 0.5rem;
          }
          &:after {
            content: "";
            position: absolute;
            width: 80%;
            height: 2px;
            background-color: red;
            top: 45%;
            left: 10%;
            rotate: 45deg;
          }
          &:before {
            content: "";
            position: absolute;
            width: 80%;
            height: 2px;
            background-color: red;
            top: 45%;
            left: 10%;
            rotate: 135deg;
          }
        }
      }
    }
  }
}

.filters {
  justify-items: center;
  margin-bottom: 4px;
  .filters__title {
    margin-bottom: 1rem;
  }

  .filters__settings {
    display: grid;
    width: 70vw;
    grid-template-columns: repeat(4, 25%);
    column-gap: 2px;
    > * {
      height: 3rem;
      width: 100%;
      > * {
        width: 100%;
        height: 100%;
        outline: none;
        border: 3px solid black;
        cursor: pointer;
        transition-property: border;
        transition: var(--transition-settings);
        &:focus {
          border: 4px solid rgba(135, 240, 0, 0.8);
        }
      }
    }

    .filters__languages {
      .languages-select {
        border-radius: 1rem 0 0.5rem 0;
      }
    }

    .filters__sorting {
      .sorting-select {
        border-radius: 0 1rem 0 0.5rem;
      }
    }

    .filters__dates-from {
      .dates-from {
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }

    .filters__dates-to {
      .dates-to {
        border-radius: 0 0 0.5rem 0.5rem;
      }
    }
  }
}

.news {
  > article {
    width: 70vw;
    border: 3px solid black;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    position: relative;

    .news__article-title {
      text-align: center;
      padding: 0.5rem;
      border-radius: 2rem;
    }

    .news__article-description {
      width: 100%;
      /*text-align: center;*/
      /*text-wrap: balance;*/
      text-wrap: pretty;
      /*word-break: break-all;*/
      /*margin-inline: auto;*/
      padding: 0 0.3rem;
      background-color: rgba(219, 215, 210, 0.4);
      position: relative;
      margin-bottom: 0.3rem;

      &:before {
        content: "";
        background-color: black;
        height: 100%;
        width: 2px;
        position: absolute;
        left: 0;
      }

      &:after {
        content: "";
        background-color: black;
        height: 100%;
        width: 2px;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .news__article-info {
      display: grid;
      justify-content: end;
      > * {
        font-size: 0.8rem;
        opacity: 0.6;
      }
    }

    .news__article-url {
      color: black;
      bottom: 0.5rem;
      position: absolute;
      text-decoration: none;
      background-color: rgba(242, 239, 220, 0.8);
      border: 2px solid black;
      font-size: 0.8rem;
      padding-inline: 0.3rem;
      border-radius: 0.5rem;
      font-weight: 500;
      transition: var(--transition-settings);
      &:hover {
        border-radius: 1rem;
        background-color: rgba(127, 255, 0, 0.7);
      }
    }
  }
}
