@import "reset.css";
@import "variables.css";
@import "main-container-styles.css";
@import "header-container-styles.css";
@import "favorites-container-styles.css";

#alert-window {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 20%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex-direction: column;

  > button {
  }
}

body {
  display: flex;
  /*height: 100%;*/
  width: 100%;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.input {
  outline: none;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 3px solid;
  transition: var(--transition-settings);
  &:focus {
    border: 5px solid;
    border-radius: 1rem;
  }
}
