@import "reset.css";
@import "variables.css";
@import "main-container-styles.css";
@import "header-container-styles.css";
@import "favorites-container-styles.css";
@import "adaptive.css";



body {
  display: flex;
  /*height: 100%;*/
  width: 100%;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

.alert-window {
  position: absolute;
  left: 50%;
  top: 7rem;
  transform: translate(-50%, -50%);
  /*width: 200px;*/
  /*height: 120px;*/
  background-color: rgba(255, 255, 255, 0.9);
  /*background-color: lightgray;*/
  border: 3px solid black;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  flex-direction: column;
  padding: 10px;

  > img {
    left: -6rem;
    position: absolute;
    top: -2.1rem;
    rotate: -90deg;
  }

  > p {
    text-align: center;
  }

  > button {
  }
}




/*input[type="date"]::-webkit-calendar-picker-indicator {*/
/*  !*color: rgba(0, 0, 0, 0);*!*/
/*  display: block;*/
/*  width: 25px;*/
/*  height: 25px;*/
/*  cursor: pointer;*/
/*}*/


/* input[type="date"] {*/
/*   position: relative;*/
/* }*/

/*input[type="date"]::-webkit-calendar-picker-indicator {*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*  bottom: 0;*/
/*  width: auto;*/
/*  height: auto;*/
/*  color: transparent;*/
/*  background: transparent;*/
/*}*/

/*input[type="date"]::-webkit-inner-spin-button,*/
/*input[type="date"]::-webkit-clear-button {*/
/*  z-index: 1;*/
/*}*/

